:root {
    --purple: #673fd7;
    --bi: linear-gradient(
        92.88deg,
        #455eb5 9.16%,
        #5643cc 43.89%,
        #673fd7 64.72%
    );
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 !important;
}

.container {
    display: flex;
}

.sidebar {
    flex: 1;
    padding: 24px;
    min-height: calc(100vh - 48px);
    min-width: 250px;
    background: var(--bi);
}

.sidebar ul {
    margin-top: 6px;
}

.sidebar > button:nth-of-type(n + 2) {
    margin-top: 24px;
}

.sidebar-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#css-selector-arrow,
#css-combinator-arrow,
#css-assignment-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--purple);
}

.arrow__rotate__180 {
    transform: rotate(180deg);
    transition: 0.25s ease;
}

.arrow__rotate__0 {
    transform: rotate(0deg);
    transition: 0.25s ease;
}

#css-selector-list,
#css-combinator-list,
#css-assignment-list {
    display: none;
}

.css-list {
    width: 80%;
    margin: 0 auto;
}

.css-list ul {
    padding-left: 0;
}

.css-list .css-list__item {
    list-style: none;
    padding: 12px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98),
        box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
    font-weight: 500;
}

.css-list .css-list__item:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.css-list li + li {
    margin-top: 6px;
    padding-top: 6px;
}

.page {
    flex: 5;
    margin-left: 24px;
    margin-top: 24px;
}

.page__background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 72px;
    background: var(--bi);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar > button + button {
    border-top: 1px solid gray;
}

.cvi,
.fc,
.lc,
.nc,
.nlc,
.not,
.nlot,
.ds,
.cs,
.ass,
.gss,
.ma1,
.ma2,
#ma1__correct,
#ma1__wrong,
#style-2-result,
#style-3-result {
    display: none;
}

.cvi-content td {
    text-align: justify;
    vertical-align: top;
}

.cvi-content td:first-child {
    vertical-align: inherit;
    text-align: center;
}

.cvi-content table {
    border-collapse: collapse;
}

.cvi-content td,
.cvi-content th {
    border: 1px solid grey;
    padding: 12px 24px;
}

.class,
.id {
    flex: 1;
    text-align: center;
    padding: 0 24px;
}

.fc p:first-child,
.lc p:last-child,
.nc .example-result > #style-1-result p:nth-child(2),
.nc .example-result > #style-2-result p:nth-child(odd),
.nc .example-result > #style-3-result p:nth-child(n + 4),
.nlc p:nth-last-child(2),
.not p:nth-of-type(2),
.nlot p:nth-last-of-type(2),
.ds p,
.cs .example-result__show > p,
#ass-result > div + p,
#gss-result > div ~ p,
#ma1__wrong {
    color: red;
}

.pl20 {
    padding-left: 24px;
}

.example {
    display: flex;
    width: 80%;
    margin: 24px 0;
    font-size: 24px;
    justify-content: space-around;
    align-items: center;
}

.html-file {
    margin-bottom: 48px;
}

.code-file > div > div:first-child {
    margin-bottom: 24px;
}

.code-file > div > div:last-child,
.example-result__show,
.nc__html-file__code,
.nc__css-style,
#style-1-result,
#style-2-result,
#style-3-result {
    border: 3px solid rgba(128, 128, 128, 0.281);
    border-radius: 12px;
    padding: 24px;
    margin-top: 24px;
    margin-left: 24px;
}

#style-1-result,
#style-2-result,
#style-3-result {
    padding: 24px 48px;
}

.block-color {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: red;
    pointer-events: none;
}

.block-color-grey {
    background-color: grey;
}

.example-result__show {
    padding: 12px 72px;
}

.nc__example {
    display: flex;
    font-size: 24px;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-around;
}

.nc__example > div:first-child {
    margin-left: 24px;
}

.nc__plus-icon,
.nc__rightwards-arrow-icon {
    font-size: 32px;
}

.nc__css-file {
    min-width: 250px;
}

.nc__html-file,
.nc__css-label {
    margin-top: 24px;
}

.nc__css-code {
    display: flex;
    flex-direction: column;
}

.nc__css-style {
    background-color: white;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.445);
    transition: 0.4s ease;
}

.active-style {
    color: black;
    transition: 0.4s ease;
    border: 3px solid black;
    transform: scale(1.2);
}

.div-example {
    margin: 24px 0;
    background: var(--bi);
    color: white;
    padding: 24px;
    width: 120px;
    border-radius: 12px;
}

.ma1,
.ma2 {
    font-size: 24px;
}

.ma1 {
    position: relative;
}

.ma1__block {
    padding: 24px;
    width: 350px;
    position: absolute;
    left: 20%;
}

.code,
.ma2__html__code,
.ma2__css__code {
    border: 3px solid rgba(128, 128, 128, 0.281);
    border-radius: 12px;
    padding: 24px;
    margin: 24px 0 0 24px;
}

.ma2__html__code,
.ma2__css__code {
    min-width: 330px;
}

input {
    font-size: 24px;
    width: 160px;
}

#ma1__correct,
#ma1__wrong {
    font-size: 72px;
}

#ma1__correct {
    color: green;
}

.submit {
    display: flex;
    padding: 24px 40px;
}

#submit__button,
#submit__button2 {
    background-image: var(--bi);
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 12px;
}

.ma1__block__check {
    margin-left: 24px;
}

.ma2__css {
    margin-top: 30px;
}

.expected {
    margin-left: 96px;
}

.expected > img {
    border: 3px solid rgba(128, 128, 128, 0.281);
    border-radius: 12px;
    margin-left: 24px;
    margin-top: 24px;
    padding: 24px;
}

#actual {
    vertical-align: top;
    padding-top: 26px;
}

.actual {
    margin-left: 96px;
}

.actual .item {
    list-style: none;
    margin-top: 5px;
}

.actual .correct-answer ~ .correct-answer,
.input-item {
    border-top: 1px solid grey;
}

.ulItem {
    border: 3px solid rgba(128, 128, 128, 0.281);
    border-radius: 12px;
    padding: 32px;
    margin-left: 24px;
}

.custom {
    position: relative;
    display: inline;
}

.custom-input {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 12px;
    width: 160px;
    padding: 8px 24px;
    transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    outline: none;
}

input[class*="custom-input"]:focus {
    border: 2px solid var(--purple);
}

.custom-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    user-select: none;
    color: grey;
    pointer-events: none;
    transition: 0.25s ease;
    font-size: 14px;
}

.custom-input:not(:placeholder-shown) + .custom-label,
.custom-input:focus + .custom-label {
    top: -10px;
    left: 18px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: #6a5af9;
}

.tabs__html {
    pointer-events: none;
}